@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
  margin: 0;
  border-top: 5px solid #42b6f3;
  padding: 80px 40px;
  font-family: "Roboto", sans-serif;
  color: #818181;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

h1 {
  margin: 35px 0;
  font-weight: 100;
  color: #42b6f3;
  border-left: 3px solid #42b6f3;
  padding-left: 20px;
}

.title {
  margin: 10px 0;
}

article {
  margin-top: 40px;
}

article h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #666;
}

article p {
  margin: 0 0 20px;
  vertical-align: baseline;
}

footer {
  margin: 50px auto 0;
  font-size: 13px;
  font-weight: 100;
  color: #999;
  text-align: center;
}

.author {
  color: #999;
}

.author span {
  color: #42b6f3;
}

.logo {
  color: #999;
  text-decoration: none;
}

.container {
  max-width: 650px;
  padding: 0 30px;
}

.button {
  display: inline-block;
  font-weight: 400;
  padding: 0 20px;
  border-radius: 18px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #e2e2e2;
  font-size: 13px;
  background-color: white;
  color: #818181;
  /* margin: 25px auto 0; */
}

.button:hover {
  color: #42b6f3;
}

.sections li img {
  width: 100%;
  display: block;
}

.sections {
  margin: 0;
  padding: 0;
}

.sections li {
  list-style: none;
  margin-bottom: 80px;
}

.sections li a {
  color: #666;
  text-decoration: none;
}

.link {
  color: #666;
}

/*

.list {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}*/
